@media (min-width: 768px) {
    .flex-flex {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }
}
@media (min-width: 1200px) {
    .flex-flex {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
}